<div class="flex w-3/5 translate-y-2 justify-evenly">
	<!--//INNER-MONTHLY::-->
	<div class="mr-8 ml-8 flex h-8 w-8 justify-center border-1"><!--Startdom-Dropdown-->{{ start_dom }}</div>
	<div class="flex h-8 w-12 justify-center border-1"><!--Startzeit - Textfeld-->{{ start_time }}</div>
	<div>-</div>
	<div class="mr-8 ml-8 flex h-8 w-8 justify-center border-1"><!--Startdom-Dropdown-->{{ end_dom }}</div>
	<div class="flex h-8 w-12 justify-center border-1"><!--Endzeit - Textfeld-->{{ end_time }}</div>
</div>
