<div class="flex w-5/6 translate-y-2 justify-evenly">
	<!--//INNER-MONTHLY::-->
		<input name="start_dom" type="number" value="{{ start_dom }}" class="flex h-8 w-12 justify-center border-1 text-neutral-800"></input>
		<input name="start_time" type="time" value="{{ start_time }}" class="flex h-8 w-24 justify-center border-1 text-neutral-800"></input>
		<div class="text-white">-</div>
		<input name="end_dom" type="number" value="{{ end_dom }}" class="flex h-8 w-12 justify-center border-1 text-neutral-800"></input>
		<input name="end_time" type="time" value="{{ end_time }}" class="flex h-8 w-24 justify-center border-1 text-neutral-800"></input>
</div>
