<div
	_="on cancellinks remove me"
	class="links flex justify-center">
  <button
		_="on click send cancellinks to the closest .links"
		hx-get="/web/timeframe/once/new?fwd_id={{ fwd_id }}"
		hx-swap="outerHtml"
		hx-target="next .inner-wrapper"
		class="m-1 rounded-md bg-neutral-800 pt-1 pr-2 pb-1 pl-2 hover:rounded-lg hover:bg-neutral-600 focus:rounded-lg focus:bg-neutral-600">
		Einmalig</button>
  <button
		_="on click send cancellinks to the closest .links"
		hx-get="/web/timeframe/daily/new?fwd_id={{ fwd_id }}"
		hx-swap="outerHtml"
		hx-target="next .inner-wrapper"
		class="m-1 rounded-md bg-neutral-800 pt-1 pr-2 pb-1 pl-2 hover:rounded-lg hover:bg-neutral-600 focus:rounded-lg focus:bg-neutral-600">
		Täglich</button>
  <button
		_="on click send cancellinks to the closest .links"
		hx-get="/web/timeframe/weekly/new?fwd_id={{ fwd_id }}"
		hx-swap="outerHtml"
		hx-target="next .inner-wrapper"
		class="m-1 rounded-md bg-neutral-800 pt-1 pr-2 pb-1 pl-2 hover:rounded-lg hover:bg-neutral-600 focus:rounded-lg focus:bg-neutral-600">
		Wöchentlich</button>
  <button
		_="on click send cancellinks to the closest .links"
		hx-get="/web/timeframe/monthly/new?fwd_id={{ fwd_id }}"
		hx-swap="outerHtml"
		hx-target="next .inner-wrapper"
		class="m-1 rounded-md bg-neutral-800 pt-1 pr-2 pb-1 pl-2 hover:rounded-lg hover:bg-neutral-600 focus:rounded-lg focus:bg-neutral-600">
		Monatlich</button>
</div>

<div class="inner-wrapper"></div>
