{% if let Some(current) = current_forward %}
<form class="tr" hx-post="/web/call-forward/{{ current.fwd_id }}/edit" hx-target="this" hx-swap="outerHTML" hx-target-error="#error_display">
	<span class="td">
		<input class="from-extension-input-field" name="from" type="search" value="{{ current.from.extension }}"
			hx-post="/web/search-extension/from"
			hx-trigger="input changed delay:500ms, search"
			hx-target="next .from-search-result"
			hx-swap="innerHTML">
	</span>
	<span class="td">
		<input class="to-extension-input-field" name="to" type="search" value="{{ current.to.extension }}"
			hx-post="/web/search-extension/to"
			hx-trigger="input changed delay:500ms, search"
			hx-target="next .to-search-result"
			hx-swap="innerHTML">
	</span>
	{% for ctx in contexts %}
		{% if current.in_contexts.contains(ctx) %}
			<span class="td">
				<input type="checkbox" name="ctx_checkboxes" value="{{ ctx.asterisk_name }}" checked>
			</span>
		{% else %}
			<span class="td">
				<input type="checkbox" name="ctx_checkboxes" value="{{ ctx.asterisk_name }}">
			</span>
		{% endif %}
	{% endfor %}
	<span class="td">
		<button id="cancel-edit" hx-get="/web/call-forward/{{ current.fwd_id }}" hx-target="closest form.tr" hx-target-error="#error_display" _="on click send endsearch to the next .search-result">Cancel</button>
		<button id="submit" type="submit" _="on click send endsearch to the next .search-result">Save</button>
	</span>
</form>

<div class="tr search-result" _="on endsearch remove me">
	<span class="td from-search-result" _="on endsearch set my innerHTML to ''"></span>
	<span class="td to-search-result" _="on endsearch set my innerHTML to ''"></span>
</div>

{% else %}
<form class="tr new-forward" hx-post="/web/call-forward/new" hx-target="this" hx-swap="outerHTML" hx-target-error="#error_display" _="on cancelnew remove me">
	<span class="td">
		<input class="from-extension-input-field" name="from" type="search" value=""
			hx-post="/web/search-extension"
			hx-trigger="input changed delay:500ms, search"
			hx-target="next div.tr"
			hx-swap="outerHTML">
	</span>
	<span class="td">
		<input name="to" type="text" value="">
	</span>
	{% for ctx in contexts %}
		<span class="td">
			<input type="checkbox" name="ctx_checkboxes" value="{{ ctx.asterisk_name }}">
		</span>
	{% endfor %}
	<span class="td">
		<button id="cancel-new" _="on click send endsearch to the next .search-result then send cancelnew to the closest .new-forward">Cancel</button>
		<button id="submit" type="submit" _="on click send endsearch to the next .search-result">Save</button>
	</span>
</form>
<div class="tr search-result" _="on endsearch remove me"></div>
{% endif %}
