<div class="forward-wrapper w-full p-2 border-zinc-400 border-t-0 border-2">
<div class="tr flex justify-evenly">
	<div class="td w-40 text-neutral-200 font-mono border-2 flex flex-col justify-center text-balance">{{ fwd.from }}</div>
	<div class="td w-40 text-neutral-200 font-mono border-2 flex flex-col justify-center text-balance">{{ fwd.to }}</div>
	{% for ctx in contexts %}
		<div class="w-20 flex justify-center">
			{% if fwd.in_contexts.contains(ctx) %}
			<div class="w-7 h-7 border-zinc-400 bg-sky-400"></div>
			{% else %}
			<div class="w-7 h-7"></div>
			{% endif %}
		</div>
	{% endfor %}

	{% if fwd.timeframes.len() > 0 %}
	{% if fwd.most_specific_active_timeframe().is_some() %}
		<div class="td flex justify-center text-lime-400 w-20">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>
			<div>({{fwd.timeframes.len()}})</div>
		</div>
	{% else %}
		<div class="td flex justify-center text-neutral-200 w-20">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>
			<div>({{fwd.timeframes.len()}})</div>
		</div>
	{% endif %}
	{% endif %}

	<div class="td w-36 flex justify-center">
	<button
		hx-get="/web/call-forward/{{ fwd.fwd_id }}/edit"
		hx-target="closest div.tr"
		hx-swap="outerHTML"
		hx-indicator="#indicator-from-show-{{ fwd.fwd_id }}"
		class="h-12 w-12 bg-neutral-800 hover:bg-neutral-600 rounded-lg hover:rounded-2xl">
		<svg  class="translate-x-2" width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z" /></svg>
	</button>
	<button
		hx-delete="/web/call-forward/{{ fwd.fwd_id }}"
		hx-target="closest div.tr"
		hx-swap="outerHTML"
		hx-indicator="#indicator-from-show-{{ fwd.fwd_id }}"
		class="h-12 w-12 bg-red-600/70 hover:bg-red-600/90 rounded-lg hover:rounded-2xl">
		<svg class="translate-x-2 h-8 w-8 text-neutral-800"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2.5"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="3 6 5 6 21 6" />  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />  <line x1="10" y1="11" x2="10" y2="17" />  <line x1="14" y1="11" x2="14" y2="17" /></svg>
	</button>
		<div
			class="htmx-indicator inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-e-transparent
				align-[-0.125em]
				text-surface
				motion-reduce:animate-[spin_1.5s_linear_infinite]"
			id="indicator-from-show-{{ fwd.fwd_id }}">
		<span
			class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
			>Lade.</span>
		</div>
	</div>
</div>

<div class="timeframes-wrapper flex justify-center flex-col">
	{% for tf in fwd.timeframes %}
		{{ tf.display() }}
	{% endfor %}
	<div class="new-button-flex-zone flex justify-center mt-1">
	<div
		id="new-timeframe-{{fwd.fwd_id}}"
		class="rounded-lg hover:rounded-2xl focus:rounded-2xl bg-lime-700/70 hover:bg-lime-700/70 focus:bg-lime-700 h-12 w-20 flex justify-center"
		hx-get="/web/timeframe/new?fwd_id={{ fwd.fwd_id }}"
		hx-target="closest .new-button-flex-zone"
		hx-swap="beforebegin"
		hx-target-error="#error_display"
		>
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" /></svg>
	</div>
	</div>
</div>
</div>
