{% if let Some(current) = current_forward %}
<form class="tr flex justify-evenly w-full p-2 border-zinc-400 border-t-0 border-2"
	hx-post="/web/call-forward/{{ current.fwd_id }}/edit" hx-target="this" hx-swap="outerHTML" hx-target-error="#error_display">

		<div class="w-32 text-neutral-800 font-mono flex flex-col justify-center">
			<input class="from-extension-input-field hover:border-zinc-400 border-2"
				name="from"
				type="search"
				value="{{ current.from.extension }}"
				hx-post="/web/search-extension/from"
				hx-trigger="input changed delay:500ms, search"
				hx-target="next .from-search-result"
				hx-swap="innerHTML"></input>
			<div class="from-search-result" _="on endsearch set my innerHTML to ''"></div>
		</div>

		<div class="w-32 text-neutral-800 font-mono flex flex-col justify-center">
			<input class="to-extension-input-field hover:border-zinc-400 border-2"
				name="to"
				type="search"
				value="{{ current.to.extension }}"
				hx-post="/web/search-extension/to"
				hx-trigger="input changed delay:500ms, search"
				hx-target="next .to-search-result"
				hx-swap="innerHTML"></input>
			<div class="to-search-result" _="on endsearch set my innerHTML to ''"></div>
		</div>

	{% for ctx in contexts %}
		{% if current.in_contexts.contains(ctx) %}
			<div class="w-20 flex justify-center">
      	<input type="checkbox" name="ctx_checkboxes" value="{{ ctx.asterisk_name }}" checked
						class="w-7 h-7 appearance-none border-zinc-400 bg-slate-200 checked:bg-sky-400 hover:border-2"></input>
      </div>
		{% else %}
			<div class="w-20 flex justify-center">
      	<input type="checkbox" name="ctx_checkboxes" value="{{ ctx.asterisk_name }}"
						class="w-7 h-7 appearance-none border-zinc-400 bg-slate-200 checked:bg-sky-400 hover:border-2"></input>
      </div>
		{% endif %}
	{% endfor %}
	<div class="w-32 flex justify-center">
		<button
			id="cancel-edit"
			hx-get="/web/call-forward/{{ current.fwd_id }}"
			hx-target="closest form.tr"
			hx-target-error="#error_display"
			class="w-16 bg-neutral-800 hover:bg-neutral-500 focus:bg-neutral-500 hover:rounded-full">Cancel</button>
		<button
			id="submit"
			type="submit"
			class="w-16 bg-lime-900 hover:bg-lime-700 focus:bg-lime-700 hover:rounded-full">Save</button>
  </div>
</form>

{% else %}

<form class="tr new-forward flex justify-evenly w-full p-2 border-zinc-400 border-t-0 border-2"
	hx-post="/web/call-forward/new"
	hx-target="this"
	hx-swap="outerHTML"
	hx-target-error="#error_display"
	_="on cancelnew remove me">

		<div class="w-32 text-neutral-800 font-mono flex flex-col justify-center">
			<input class="from-extension-input-field hover:border-zinc-400 border-2"
				name="from"
				type="search"
				value=""
				hx-post="/web/search-extension/from"
				hx-trigger="input changed delay:500ms, search"
				hx-target="next .from-search-result"
				hx-swap="innerHTML"></input>
			<div class="from-search-result" _="on endsearch set my innerHTML to ''"></div>
		</div>

		<div class="w-32 text-neutral-800 font-mono flex flex-col justify-center">
			<input class="to-extension-input-field hover:border-zinc-400 border-2"
				name="to"
				type="search"
				value=""
				hx-post="/web/search-extension/to"
				hx-trigger="input changed delay:500ms, search"
				hx-target="next .to-search-result"
				hx-swap="innerHTML"></input>
			<div class="to-search-result" _="on endsearch set my innerHTML to ''"></div>
		</div>

	{% for ctx in contexts %}
		<div class="w-20 flex justify-center">
			<input
				type="checkbox"
				name="ctx_checkboxes"
				value="{{ ctx.asterisk_name }}"
				checked
				class="w-7 h-7 appearance-none border-zinc-400 bg-slate-200 checked:bg-sky-400 hover:border-2"></input>
		</div>
	{% endfor %}

	<div class="w-32 flex justify-center">
		<button
			id="cancel-new"
			_="on click send cancelnew to the closest .new-forward"
			class="w-16 bg-neutral-800 hover:bg-neutral-500 focus:bg-neutral-500 hover:rounded-full"
			>Cancel</button>
		<button
			id="submit"
			type="submit"
			class="w-16 bg-lime-900 hover:bg-lime-700 focus:bg-lime-700 hover:rounded-full"
			>Save</button>
  </div>
</form>
{% endif %}
